[include]
  path = /Users/arwhyte/.gitconfig.local

[alias]
  st = status
  ci = commit
  co = checkout
  br = branch

[core]
	excludesfile = /Users/arwhyte/.gitignore.global

[colour]
  diff = auto
  status = auto
  branch = auto
  interactive = auto

[credential]
	helper = osxkeychain

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =

[gpg]
  program = /usr/local/bin/gpg

[merge]
  tool = opendiff
  summary = true

[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true