[include]
  path = /Users/arwhyte/.gitconfig.local

[alias]
  st = status
  ci = commit
  co = checkout
  br = branch

[core]
	excludesfile = /Users/arwhyte/.gitignore.global

[colour]
  diff = auto
  status = auto
  branch = auto
  interactive = auto

[credential]
	helper = osxkeychain

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 

[github]
  user = arwhyte
  token = cdfb96339b93e2d59cbb711a561a2c7936d1171f

[gpg]
  program = /usr/local/bin/gpg

[merge]
  tool = opendiff
  summary = true

[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[pull]
	rebase = false

[user]
	name = Anthony Whyte
	email = anthwhyte@gmail.com
	signingkey = 50CC4835413F12E1
