# APP START

alias rstudio='LD_LIBRARY_PATH=$JAVA_HOME/jre/lib/server: open -a RStudio'


# NAVIGATION

# Standard directories
DEV='~/Development'
DOCS='~/Documents'
PICS='~/Pictures'

alias dev="cd $DEV"
alias docs="cd $DOCS"
alias pics="cd $PICS"

# Code repos
REPOS="$DEV/repos"
BITBUCKET="$REPOS/bitbucket"
GITHUB="$REPOS/github"

alias bitbucket="cd $BITBUCKET"
alias github="cd $GITHUB"

# Code repos by account
ARWHYTE="$GITHUB/arwhyte"
CSEV="$GITHUB/csev"
IMS="$GITHUB/IMSGlobal"
SAKAI="$GITHUB/sakaiproject"
UMSI="$GITHUB/umsi-arwhyte"

alias arwhyte="cd $ARWHYTE"
alias csev="cd $CSEV"
alias ims="cd $IMS"
alias sakai="cd $SAKAI"
alias umsi="cd $UMSI"

# code repos by project
alias bashscripts="cd $ARWHYTE/scripts/bash"
alias dotfiles="cd $ARWHYTE/dotfiles"
alias scripts="cd $ARWHYTE/scripts"
alias si506="cd $UMSI/SI506"
alias si664="cd $UMSI/SI664"
alias tsugi="cd $CSEV/tsugiproject"

# Tomcat
alias tomcat='cd /opt/tomcat'
alias tomcatlogs='cd /opt/tomcat/logs'

# zsh
alias ohmy='cd ~/.oh-my-zsh'


# SWITCHES

alias ls='ls -laGH'
# alias ls="/bin/ls -la"
